@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: hsl(148, 38%, 91%);
  padding: 1rem;
  gap: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "karla", sans-serif;
  font-size: 1rem;
}

.attribution a {
  font-size: 0.6875rem;
  color: hsl(169, 82%, 27%);
}

main {
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);
  padding: 1rem;
}

legend {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(187, 24%, 22%);
}

.name-row {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

label {
  color: hsl(187, 24%, 22%);
  font-weight: 400;
}

.required::after {
  content: " *";
  color: hsl(169, 82%, 27%);
  font-weight: 700;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: 0.0625rem solid hsl(186, 15%, 59%);
  border-radius: 0.625rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0.0625rem solid hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
}

button label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.2rem;
  align-items: center;
}

input,
textarea {
  padding: 0.4rem;
}

.input-text,
.input-email {
  outline: 0.0625rem solid hsl(186, 15%, 59%);
  border: none;
  border-radius: 0.25rem;
  height: 2.5rem;
}

.input-radio {
  appearance: none;
  -webkit-appearance: none;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.125rem solid hsl(186, 15%, 59%);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.input-radio:checked {
  border-color: hsl(169, 82%, 27%);
}

.input-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.625rem;
  height: 0.625rem;
  background-color: hsl(169, 82%, 27%);
  border-radius: 50%;
}

input:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}

#text-area {
  height: 10rem;
}

textarea {
  resize: none;
}

textarea:hover {
  cursor: pointer;
}

fieldset {
  border: none;
  height: 100%;
}

.radio {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-text:focus,
.input-email:focus {
  outline: 0.0625rem solid hsl(169, 82%, 27%);
}

.error-text {
  color: hsl(0, 66%, 56%);
  display: none;
}

.error {
  display: none;
}

.error-input {
  outline: 0.0625rem solid red;
}

#radio-error,
.error {
  color: hsl(0, 66%, 56%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.error-text-active {
  display: block;
}

.checkbox-row {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
}

#checkbox-input {
  height: 1rem;
  width: 1rem;
  appearance: none;
  -webkit-appearance: none;
  border: 0.0625rem solid #86a2a5;
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
}

#checkbox-input:checked {
  background-image: url(./assets/images/icon-checkbox-check.svg);
  background-position: center;
  border: none;
}

.button-active {
  outline: 0.0625rem solid hsl(169, 82%, 27%);
  background-color: hsl(148, 38%, 91%);
}

#submit-button {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(169, 82%, 27%);
}

#submit-button:hover {
  background-color: hsl(169, 82%, 27%, 1.5);
}

#dialog.dialog-active {
  color: hsl(0, 0%, 100%);
  padding: 1rem;
  position: fixed;
  border: none;
  top: 10;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  background: hsl(187, 24%, 22%);
  border-radius: 1rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.dialog-row {
  display: flex;
  gap: 0.5rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media screen and (width >= 30rem) {
  body {
    padding: 0;
    height: 100vh;
    place-items: center;
  }
  main {
    padding: 1.5rem;
    height: fit-content;
    width: fit-content;
  }
  form {
    gap: 1rem;
  }
  .name {
    flex: 1;
  }
  .name-row {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
  }
  .name {
    display: flex;
    flex-direction: column;
  }
  .input-text,
  .input-email {
    height: 2rem;
  }
  footer {
    position: static;
    bottom: auto;
    left: auto;
    transform: none;
    white-space: normal;
  }
  .radio-buttons {
    flex-direction: row;
  }
  .radio-button {
    flex: 1;
  }
  #dialog.dialog-active {
    color: hsl(0, 0%, 100%);
    padding: 1rem;
    position: fixed;
    border: none;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: hsl(187, 24%, 22%);
    border-radius: 1rem;
    width: 48ch;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
