body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input:focus {
  outline: 0.0625rem solid hsl(169, 82%, 27%);
}

.error-text {
  display: none;
}

.error {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
}

.error-text-active {
  display: block;
}
